<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://xase7q8rgb.database.windows.net:1433;database=iTV</property>
        <property name="hibernate.connection.username">iTVSoCool@xase7q8rgb</property>
        <property name="hibernate.connection.password">iTVisgood911</property>
	
<!-- 		<property name="hibernate.connection.datasource">java:comp/env/jdbc/iTV</property> -->
		
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.jdbc.use_streams_for_binary">thread</property>
		<mapping class="model.vo.MemberVO" />
		<mapping class="model.vo.ArticleVO" />
		<mapping class="model.vo.ArticleClassVO" />
	</session-factory>
</hibernate-configuration>